  /* General */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 26px;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  /*
  font-family: 'HelveticaNeue-thin','helveticaNeue', 'helvitica', sans-serif;
  font-weight: 100;
  */
}

main {
  max-width: 100%;
  margin: 2rem 4rem;
}

  /* Typography */

p {
  line-height: 1.6;
  letter-spacing: 1px;
}

a {
  cursor: pointer;
  color: #DD705C;
  text-decoration: none;
}

a:hover {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #DD705C;
}

li {
  line-height: 1.5;
}

h1 {
  font-size: 17vmin;
  font-weight: 600;
/*  font-family: 'Roboto Slab', serif;
*/
font-family: 'Hind', sans-serif;
}

.header-medium {
  font-size: 12vmin;
  font-weight: 600;
/*  font-family: 'Roboto Slab', serif;
*/
  font-family: 'Hind', sans-serif;
  color: #611d5c;
}

.hero h1 {
  color: #fff;
  margin: 1em 0 0 0;
}

.hero h2 {
  color: #fff;
}

h2 {
  font-size: 5vmin;
  color: #FFF;
  font-weight: 200;
}

h3 {
/*  font-family: 'Roboto Slab', serif;
*/
font-family: 'Hind', sans-serif;
  font-weight: 800;
  margin-top: 0;
  font-size: 1.8rem;
}

/* Content */

ul {
  margin-bottom: 0;
}

.chapter-nav {
  max-width: 100%;
  background-color: #eee;
  padding: 1.5rem 4rem;
  margin-bottom: 0;
}

.chapter-nav a {
  font-size: 2.2rem;
  font-weight: bold;
  border: none;
}

.training, .outcomes {
  font-size: 1.3rem;
  background: #eee;
  padding: 1.5rem;
  border: #ccc solid 1px;
  margin-right: .75em;
}

.training {
  position: relative;
}

.training:after {
  content: '';
  width: 20px;
  height: 20px;
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: -11px;
  background: #eee;
  margin-top: -10px
}

.outcomes {
  display: flex;
  flex-direction: column;
}

.hero {
  background: #674B7C;
  background: -webkit-linear-gradient(to bottom, #674B7C , #995FAF);
  background: linear-gradient(to bottom, #674B7C , #995FAF);
  background-size: cover;
  background-position: center center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

  /* Grid */

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }
  .row::before, .row::after {
  content: ' ';
  display: table; }
  .row::after {
  clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0; }
  .row .row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .row .row.collapse {
  margin-left: 0;
  margin-right: 0; }
  .row.small-collapse > .column, .row.small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }
  .row.small-uncollapse > .column, .row.small-uncollapse > .columns {
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (min-width: 40em) {
  .row.medium-collapse > .column, .row.medium-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }
  .row.medium-uncollapse > .column, .row.medium-uncollapse > .columns {
  padding-left: 30px;
  padding-right: 30px; } }
  @media screen and (min-width: 64em) {
  .row.large-collapse > .column, .row.large-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }
  .row.large-uncollapse > .column, .row.large-uncollapse > .columns {
  padding-left: 30px;
  padding-right: 30px; } }
  .row.expanded {
  max-width: none; }

  .column, .columns {
  width: 100%;
  float: left;
  // padding-left: 0.9375rem;padding-right: 0.9375rem;
  }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: right; }
  .column.end:last-child, .end.columns:last-child {
  float: left; }

  .column.row, .row.columns {
  float: none; }

  @media screen and (min-width: 40em) {
  .medium-1 {
  width: 8.33333%; }
  .medium-2 {
  width: 16.66667%; }
  .medium-3 {
  width: 25%; }
  .medium-4 {
  width: 33.33333%; }
  .medium-5 {
  width: 41.66667%; }
  .medium-6 {
  width: 50%; }
  .medium-7 {
  width: 58.33333%; }
  .medium-8 {
  width: 66.66667%; }
  .medium-9 {
  width: 75%; }
  .medium-10 {
  width: 83.33333%; }
  .medium-11 {
  width: 91.66667%; }
  .medium-12 {
  width: 100%; }
  .column.medium-centered, .medium-centered.columns {
  float: none;
  margin-left: auto;
  margin-right: auto; }
  .medium-uncenter,
  .medium-push-0,
  .medium-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0; } }

  @media screen and (min-width: 64em) {
  .large-1 {
  width: 8.33333%; }
  .large-2 {
  width: 16.66667%; }
  .large-3 {
  width: 25%; }
  .large-4 {
  width: 33.33333%; }
  .large-5 {
  width: 41.66667%; }
  .large-6 {
  width: 50%; }
  .large-7 {
  width: 58.33333%; }
  .large-8 {
  width: 66.66667%; }
  .large-9 {
  width: 75%; }
  .large-10 {
  width: 83.33333%; }
  .large-11 {
  width: 91.66667%; }
  .large-12 {
  width: 100%; }
  .column.large-centered, .large-centered.columns {
  float: none;
  margin-left: auto;
  margin-right: auto; }
  .large-uncenter,
  .large-push-0,
  .large-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0; }
  }

/* Responsive */

@media (max-width: 45em) {

  main {
    margin: 2rem 2rem;
    font-size: 4.5vmin;
  }

  .chapter-nav {
    padding: 1.5rem 2rem;
  }

  .chapter-nav a {
    font-size: 24px;
    font-weight: 700;
  }

  /* nav ul {
    padding: 0.5rem 2rem;
    background-color: #005EA5;
  }
  */

}

/**
*
* Styles for updated navigation 
*
**/


/* old nav removed 

nav {
  position: absolute;
  top: 0;
  background: #674B7C;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-shadow: 0 6px 21px -8px #333;
  -moz-box-shadow: 0 6px 21px -8px #333;
  box-shadow: 0 6px 21px -8px #333;
}

nav ul {
  margin-top: 0.8rem;
  list-style: none;
  margin: 0;
  padding: 1rem 4rem;
}

nav li {
  padding: 0 0.9rem;
  display: inline-block;
  font-size: 1.2rem;
}

nav li a {
  color: #FFF;
  border: none;
}

nav a:hover {
  background: #dd705c;
  color: #FFF;
}

nav .selected {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #FFF;
}



/*Strip the ul of padding and list styling*/
.centre {
  margin-left: auto;
  margin-right: auto;
}
.centre nav {
  text-align: center;
  top: 0;
  background: #611d5c;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.centre nav ul {
  list-style: none;
  -webkit-box-shadow: 0 6px 21px -8px #333;
  -moz-box-shadow: 0 6px 21px -8px #333;
  box-shadow: 0 6px 21px -8px #333;
  text-align: center;
}

.centre ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  text-align: center;

  top: 0;
  background: #611d5c;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  margin-top: 0.8rem;
  list-style: none;
  margin: 0;
  -webkit-box-shadow: 0 6px 21px -8px #333;
  -moz-box-shadow: 0 6px 21px -8px #333;
  box-shadow: 0 6px 21px -8px #333;

}

/*Create a horizontal list with spacing*/
.centre li {
  display:inline-block;
  margin-right: auto;
  margin-left: auto;
}

/*Style for menu links*/
.centre li a {
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: .5em .65em;
  color: #fff;
  text-decoration: none;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #611d5c;
}

/*Hover state for top level links*/
.centre li:hover a {
  background: #FFBF47;
  color: #0B0C0C;
}

/*Style for dropdown links*/
.centre li:hover ul a {
  background: #FFBF47;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.centre li:hover ul a:hover {
  background: #19c589;
  color: #0B0C0C;
}

/*Hide dropdown links until they are needed*/
.centre li ul {
  display: none;
}

/*Make dropdown links vertical*/
.centre li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
.centre li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #611d5c;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  .centre ul {
    position: relative;
    display: none;
    padding: 0 0;
    z-index: 9;
  }
  /*Create vertical spacing*/
  .centre li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .centre ul li, li a {
    width: 100%;
    padding:0;
    color: #FFF;
    text-decoration: none;
    border-style: solid;
    border: 0;
    background-color: #2f3036;
  }
  .centre li a:hover {
    border: 0;
    color: #0B0C0C;
    background-color: #FFBF47;
  }
  /*Display 'show menu' link*/
  .centre .show-menu {
    display:block;
  }
}

@media screen and (max-width : 1023px){

  .training, .outcomes {
    font-size: 1.3rem;
    background: #eee;
    padding: 1.5rem;
    border: #ccc solid 1px;
    margin-bottom: .75em;
  }
  .training:after {
    content: '';
    width: 20px;
    height: 20px;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    transform: rotate(135deg);
    position: absolute;
    top: 100%;
    right: 50%;
    background: #eee;
    margin-top: -10px;
  }
}